* {
    box-sizing: border-box;}

.header {
    color: black;
    text-align: center; 
    width: 100%;
  }

  .haukai-font {
    font-family: 'Pacifico', cursive;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    font-size: 4vw;
    text-align: centre;
  }

  .main
  {
    font-family: calibri, sans-serif;
    background-color: white;
    font-size: 1.8vw;
    text-align: center;
  } 
 
  h2
  {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
  }

  .indexp
  {
    font-size: 1.8vw;
  }

  .footer
  {
    font-size: 1vw;
    font-family: calibri, sans-serif;
    padding-top: 2vw;
  }
   /* Style the top navigation bar */
   .navbar {
    width: 100%;
    background-color:maroon;
    overflow: auto;
   }
   /* Style the topnav links */
   .navbar a {
    float: left;
    padding: 1vw;
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    width: 15%;
    text-align: center; 
   }

   .navbar a:hover {
    background-color: #000;
    }


    /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}

   ol, li {
    text-align: center;
   }

   img {
    width: 50%;
    height: auto;
   }

   .brand-image{
    width: 25vw;
    height:25vw;
   }

   .menu-item-name{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;     
  text-decoration-color:black; 
}

.menu-item-desc{
    text-align: center;
}

.menu-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.maori-hearts{
    max-width: 15%;
    height: auto;
    float: right;
    padding-right: 2vw;
    padding-top: 2vw;
}

.restaurant-image {
    max-width: 50%;
    height: auto;
    float: left;
    padding-right: 1vw;
    padding-bottom: 1vw;
}

@media only screen and (max-width: 600px){
  .restaurant-image .food-image{
    max-width: 25%;
    height: auto;
  }

}

.food-image {
    max-width: 50%;
    height: auto;
    float: right;
    padding-left: 1vw;
    padding-bottom: 1vw;
}

.owners-image {
    width: 60%;
    height: auto;
    float: none;
    padding-right: 1vw;
}

.page-title {
    font-family: 'Pacifico', cursive;
    padding-top: 1vw;
    padding-bottom: 0.5vw;
    font-size: 3vw;
    text-align: center;
}

.rosters-link {
    font-size: 2vw;
    font-weight: bold;
}

.privacy {
    font-style: italic;
}
 
table {
  width: 80%;
  margin-left: 10vw;
  margin-right: 10vw;
}

td {
  text-align: left;
  padding-left: 2vw;
}
