* {
    box-sizing: border-box;
  }

.header {
    color: white;
    background-color: white;
    font-family: 'Papyrus', sans-serif;
    font-size: 2.5vw;
    text-align: center; 
    width: 100%;
  
  }
  .main
  {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: white;
    font-size: 1.3vw;
    text-align: center;
  } 
  h2
  {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
  .footer
  {
    font-size: 1vw;
    font-family: calibri, sans-serif;
  }
   /* Style the top navigation bar */
   .navbar {
    width: 100%;
    background-color:darkkhaki;
    overflow: auto;
   }
   /* Style the topnav links */
   .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    width: 15%;
    text-align: center; 
   }

   .navbar a:hover {
    background-color: #000;
    }

    .navbar a.active {
        background-color: darkseagreen}

    /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}

   ol, li {
    text-align: center;
   }

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}

.menu{
    font-family: calibri, sans-serif;
    font-size: 1.3vw;
}

.menu-group-heading{
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.menu-group{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

@media screen and (min-width: 992px) {
    .menu {
        font-size: 16px;
    }
.menu-group{
    grid-template-columns: repeat (2, 1fr);
}
}

.menu-item{
    display: flex;
}

.menu-item-image{
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}